\documentclass{article}
\usepackage[utf8]{inputenc}
\usepackage{color}
\usepackage{geometry}
\usepackage{graphicx}



\geometry{
 letter,
 left=10mm,
 right=10mm,
 top=20mm,
 bottom=10mm,
 hoffset=0mm
 \setlength\parindent{0pt}
}
\begin{document}
\hspace{18cm} {{miFolio}}\\
\begin{tabular}{p{7cm}p{5cm}p{5cm}}
\includegraphics{§{{logo_b}}§} & & \includegraphics{§{{logo_s}}§}
\end{tabular}
\bigskip\\\
\begin{tabular}{p{9cm}p{1cm}p{8cm}}

Nombre-Emisor: {{nombre_emisor}} && nombre-receptor: {{nombre_receptor}}\\

Rfc-Emisor: \colorbox{yellow}{ {{rfc_emisor}} } & & Rfc-Receptor: \colorbox{yellow}{ {{rfc_receptor}} }\\

regimen-emisor: {{regimen_emisor}} & & folio: \colorbox{yellow}{ {{folio}} }\\

TipoDeComprobante: \colorbox{yellow}{ {{tipoDeComprobante}} } & & serie: \colorbox{yellow}{ {{serie}} }\\

uso CFDI: {{ReceptorUsoCFDI}}\\



\end{tabular}
\bigskip\bigskip\bigskip\\\
Conceptos:\\
\begin{tabular}{|p{1.5cm}|p{3.6cm}|p{3.6cm}|c|c|c|c|c|}
\hline
Clave & Concepto & Descripcion & Cant & Unidad & V unitario & Importe & Impuesto \\
\hline
{% for concepto in conceptos %}
{{concepto.clave_concepto}} & {{concepto.concepto}} & {{concepto.descripcion}} & {{concepto.cantidad}} & {{concepto.unidad}} & {{concepto.valorUnitario}} & {{concepto.importeConcepto}} &  {{concepto.impuestos}} \\
\hline
{% endfor %}
\end{tabular}\\
\bigskip
\begin{center}
Resumen de contribuciones:\\
\bigskip
\begin{tabular}{|c|c|c|}
\hline
 -- & Tasa & Importe\\
\hline
{% for elemento in elementosDeLaTabla %}
{{elemento.cosa}} & {{elemento.tasa}} & {{"%.2f"|format(elemento.importe)}} \\
\hline
{% endfor %}
\end{tabular}
\end{center}
\bigskip

\begin{tabular}{p{9cm}p{1.5cm}p{8cm}}
UUID: \colorbox{yellow}{ {{UUID}} } && formaDePago: {{formaDePago}} \\
noCertificadoSAT: {{noCertificadoSAT}} && metodoDePago: \colorbox{yellow}{ {{metodoDePago}} }\\
LugarExpedicion: {{LugarExpedicion}} && fechaTimbrado: \colorbox{yellow}{ {{fechaTimbrado}} } \\
\end{tabular}

\bigskip
selloCFD:\ {{selloCFD}}
\medskip

selloSAT:\ {{selloSAT}}

\bigskip
certificado:\ {{certificado}}

\bigskip\bigskip\bigskip\bigskip\bigskip
\\Este documento no es la impresion original y NO TIENE NINGUNA VALIDEZ FISCAL O LEGAL. \\
 Es una representacion impresa del xml:  {{UUID}} \\
\end{document}
